:root {
    --gray-1: #9E9D9D;
    --gray-2: #B0B0B0;
    --gray-3: hsl(212, 33%, 89%);
    --gray-4: hsl(210, 36%, 96%);
}

*
{
    margin: 0;
    background-color: var(--gray-1);
    color: white;
}

html 
{
    /* Makes the web page scroll smoothly when the user uses the navigation bar. */
    scroll-behavior: smooth;
}

/* Represents the navigation bar when the user is at the top of the page. */
.navbar 
{
    /* width: 100%; */

    /* Moves content within the navbar down 20px */
    /* padding: 20px 0; */

    /* Aligns content within the navbar to the right. */
    text-align: right;

    background-color: transparent;

    /* display: flex;
    overflow: hidden; */
}

/* Represents the navigation bar when the user scrolls down the page
   and the navigation bar sticks to the top. */
.sticky-navbar 
{
    /* Makes the navbar take up the whole width of the page. */
    width: 100%;
    
    /* Sets the navbar to always appear on page even when the user scrolls. */
    position: fixed;

    /* Aligns content within the navbar to the right. */
    text-align: right;

    background-color: black;
}

/* Represents the button that pulls down the navigation bar. This button
   will only appear if the user is viewing the web page on a small enough 
   window or screen. */
/* .navbar .nav-toggle
{
    padding: 20px;
    font-size: 30px;
    border-color: transparent;
    cursor: pointer;
} */

@media (min-width: 640px)
{
    /* .navbar .nav-toggle
    {
        display: none;
    } */
}

.navbar .links
{
    /* Sets the background color. */
    background-color: transparent;
    
    /* float: left;
    display: flex; */

    /* Removes bullet points from list items. */
    /* list-style-type: none; */
}

.sticky-navbar .links
{
    /* Sets the background color. */
    background-color: black;
    
    /* float: left;
    display: flex; */

    /* Removes bullet points from list items. */
    /* list-style-type: none; */
}

.links li {
    /* Sets each list element on the same line. */
    display: inline-block;
    
    /* Defines margins for each list element. */
    margin: 20px 50px;
}

.navbar .links a 
{
    display: block;
    
    /* Sets the background color. */
    background-color: transparent;
    
    /* Adds spacing between each link */
    /* padding: 30px; */
    
    /* Removes default underline from links. */
    text-decoration: none;

    font-size: 18px;

    /* Sets the font type. */
    font-family: Arial;

    /* Sets the text color. */
    color: white;
}

.sticky-navbar .links a 
{
    display: block;
    
    /* Sets the background color. */
    background-color: black;
    
    /* Adds spacing between each link */
    /* padding: 30px; */
    
    /* Removes default underline from links. */
    text-decoration: none;

    font-size: 18px;

    /* Sets the font type. */
    font-family: Arial;

    /* Sets the text color. */
    color: white;
}

.links a:hover
{
    color: blue;
}

.introduction
{
    height: 400px;
}

.introduction .name h2
{
    color: black;
}

@media (min-width: 100px)
{
    .introduction .name
    {
        padding: 25px 0;

        /* Centers the name. */
        text-align: center;

        font-size: 10px;
        font-family: Tahoma;
    }

    .introduction .intro-paragraph
    {
        width: 400px;
        padding: 25px;

        /* Centers the paragraph. */
        margin: auto;
        
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
    }
}

@media (min-width: 400px)
{
    .introduction .name
    {
        padding: 25px 0;

        /* Centers the name. */
        text-align: center;

        font-size: 30px;
        font-family: Tahoma;
    }

    .introduction .intro-paragraph
    {
        width: 400px;
        padding: 25px;

        /* Centers the paragraph. */
        margin: auto;
        
        font-size: 12px;
        font-family: Arial;
    }
}

@media (min-width: 950px)
{
    .introduction .name
    {
        padding: 25px 50px;

        /* Centers the name. */
        text-align: unset;

        font-size: 30px;
        font-family: Tahoma;
    }

    .introduction .intro-paragraph
    {
        width: 400px;
        padding: 25px 25%;
        margin: 0;
        font-size: 12px;
        font-family: Arial;
    }
}

.about-section
{
    padding: 20px 20px;
    background: var(--gray-2);
    height: 400px;
    text-align: center;
}

.about-section h2
{
    font-size: 30px;
    background: var(--gray-2);
}

.projects-section
{
    padding: 20px 20px;
    height: 400px;
    text-align: center;
}

.projects-section h2
{
    font-size: 30px;
}

.contact-section
{
    padding: 20px 20px;
    background: var(--gray-2);
    height: 400px;
    text-align: center;
}

.contact-section h2
{
    font-size: 30px;
    background: var(--gray-2);
}